body{
  background-color: #f9f9f9;
  margin-left: 10px;
}

.navbar-light {
  background-color: #f0f0f0;
  color: #000;
}

.navbar-dark {
  background-color: #333;
  color: #fff;
}

.users-light {
  background-color: #fff;
  color: #000;
}

.users-dark {
  background-color: #333;
  color: #fff;
}

.user-details-light {
  background-color: #f9f9f9;
  color: #000;
}

.user-details-dark {
  background-color: #222;
  color: #fff;
}

.click-display {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
}