.App {
  text-align: left;
  margin-top: 30px;
  margin-left: 40px;

}

.custom-button{
  background-color: rgb(63, 63, 215);
  width: 100px;
  height: 40px;
}

.custom-button:hover {
    background-color: green;
    transition: 0.5s;
  }

.square{
  background-color: red;
  margin-top: 60px;
  width: 100px;
  height: 40px;
  transition: 0.5s ease;
}

.square:hover{
  background-color: orange;
  transform: scale(1.5) rotate(45deg);
}

.boxAnimation{
  background-color: brown;
  width: 100px;
  height: 40px;
  margin-top: 60px;
  animation-duration: 1.5s;
  animation-name: box;
  animation-delay: 0.3s;
}

@keyframes box{
  from{
    opacity: 0;
    transform: translateX(-100%);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
