.App {
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}

.custom-button{
  background-color: rgb(63, 63, 215);
  width: 100px;
  height: 40px;
}

.custom-button:hover {
    background-color: green;
    transition: 0.5s;
  }
